/*FONTS*/
body {
  font-family: "Roboto Mono", monospace;
}
.archivo {
  font-family: "Archivo+Black", sans-serif;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
}
.spartan {
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: #070707;
}

/*Predefined Heights*/
.heightborder {
  height: 150px;
}
.heightborder2 {
  height: 400px;
}
.heightborder3 {
  height: 250px;
}
.heightborders {
  height: 100px;
}

/*BORDERS*/
.bordecito {
  border-bottom: 2px solid white;
  padding-bottom: 0px;
}
.bordecitoup {
  border-top: 3px solid white;
  padding-bottom: 0px;
}
.bordecitor {
  border-right: 2px solid white;
  padding-bottom: 0px;
}
.bordecitol {
  border-left: 2px solid white;
  padding-bottom: 0px;
}
.bordecitos {
  font-weight: bold;
}

.bordecitoall {
  border: 1px solid white;
}
/*TRANSITIONS*/
.revealUp {
  opacity: 0;
  visibility: hidden;
}

/* FONT SIZE THRU MEDIA VIEWPORT */
@media (min-width: 1024px) {
  .sizehome {
    font-size: 6vw;
  }
  .sizehomeq {
    font-size: 4vw;
  }
  .sizehome2 {
    font-size: 2vw;
  }
  .sizehomet {
    font-size: 2vw;
  }
  .sizehomeb {
    font-size: 1vw;
  }
  .sizehomes {
    font-size: 1vw;
  }
  .botonaco {
    width: 21% !important;
  }
}

@media (max-width: 1023px) {
  .sizehome {
    font-size: 12vw;
  }
  .sizehomeq {
    font-size: 5vw;
  }
  .sizehome2 {
    font-size: 5vw;
  }
  .sizehomet {
    font-size: 5vw;
  }
  .sizehomeb {
    font-size: 5vw;
  }
  .sizehomes {
    font-size: 3vw;
  }
}

/* BUTTONs */

.botonaco {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 0.1rem;
  width: 500px;
}

.botonaco:hover {
  background: #f7f8f2;
  color: #f7f8f2;
  animation: box 4s infinite;
}

.botonaco::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #070707;
}

.botonaco span {
  position: relative;
  z-index: 1;
}

.botonaco:hover span {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 4s infinite;
  animation-delay: calc(0.09s * var(--i));
}

@keyframes flip {
  0%,
  10% {
    transform: rotateY(360deg);
  }
  40% {
    transform: rotateY(0deg);
  }
}

.botonaco2 {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 0.1rem;
  width: 600px;
  transition: 0.2s;
}

.botonaco2:hover {
  background: #f7f8f2;
  color: #f7f8f2;
  animation: box 4s infinite;
  animation-delay: 2s;
}

.botonaco2::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #070707;
}

.botonaco2 span {
  position: relative;
  z-index: 1;
}

.botonaco2:hover span {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 4s infinite;
  animation-delay: calc(0.09s * var(--i));
}

.botonaco3 {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 0.1rem;

  width: 400px;
  transition: 0.2s;
}
.botonaco3:hover {
  animation: box 3s infinite;
}

.botonaco3::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #070707;
}
.botonaco3 span {
  position: relative;
  z-index: 1;
}

.botonaco4 {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  border: 2px solid white;
  letter-spacing: 0.1rem;

  width: 250px;
  transition: 0.2s;
}
.botonaco4:hover {
  animation: box 3s infinite;
}

.botonaco4::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #070707;
}
.botonaco4 span {
  position: relative;
  z-index: 1;
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px #f7f8f2;
  }
  100% {
    box-shadow: #27272c;
  }
}

.glow {
  position: relative;
}

.glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
