/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.texto-amarillo {
  color: #d0af64;
}
.bordecito {
  border-bottom: 2px solid white;
  padding-bottom: 0px;
}

.bordecitoup {
  border-top: 2px solid white;
  padding-bottom: 0px;
}

body {
  background-color: #1c1c1c;
}

.botonaco {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;

  transition: 0.2s;
}

/* BUTTON */

.botonaco:hover {
  background: #f7f8f2;
  color: #f7f8f2;
  animation: box 3s infinite;
}

.botonaco::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.botonaco span {
  position: relative;
  z-index: 1;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px #f7f8f2;
  }
  100% {
    box-shadow: #27272c;
  }
}

.card {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1024px) {
  /* Define el tamaño de fuente */
  .sizehome {
    font-size: 7vw;
  }
  .sizehome2 {
    font-size: 2vw;
  }
  .sizehomet {
    font-size: 3vw;
  }
}

/* Estilos para pantallas medianas y pequeñas */
@media (max-width: 1023px) {
  /* Define el tamaño de fuente con unidades de vista de ancho */
  .sizehome {
    font-size: 13vw;
  }
  .sizehome2 {
    font-size: 5vw;
  }
  .sizehomet {
    font-size: 6vw;
  }
}
