.waviupy span {
  position: relative;
  display: inline;
  color: white;
}

.waviupy span:before {
  content: attr(data-letter);
  position: absolute;
  animation: waviupy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviupy {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1px);
  }
}
